
</div>
<div class="footer-padding">
  <div class="footer">
    <p>Made with ❤️ by ShIvAm</p>
  </div>

  <!-- <div class=" footer footer-icons">
    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-instagram"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-youtube"></i></a>
  </div> -->
  
</div>


</body>
</html>
